.idea/
.ijwb/

/bazel-*/
/bazel-*

/Config.ini
/projects/
/.cache/
/artifacts/
/terraform/.terraform/
/terraform/plan.bin
/.repository_cache/

node_modules/
/go_build_github_com_TimoSto_ThesorTeX_services_app_cmd
dist/
/go_build_github_com_TimoSto_ThesorTeX_services_app_cmd_prod
/services/thesisTool/cmd/e2e/main

*.ini
/ThesorTeX.log
/services/website/internal/documentations/example/de/main.aux
/services/website/internal/documentations/example/de/main.lof
/services/website/internal/documentations/example/de/main.log
/services/website/internal/documentations/example/de/main.lot
/services/website/internal/documentations/example/de/main.mcf
/services/website/internal/documentations/example/de/main.synctex.gz
/services/website/internal/documentations/example/de/main.toc
/services/website/internal/example_project/en/main.synctex.gz
/services/website/internal/example_project/en/main.mcf
/services/website/internal/example_project/en/main.lot
/services/website/internal/example_project/en/main.aux
/services/website/internal/example_project/en/main.lof
/services/website/internal/example_project/en/main.log
/services/website/internal/example_project/en/main.toc
/services/website/internal/example_project/de/main.aux
/services/website/internal/example_project/de/main.lof
/services/website/internal/example_project/de/main.log
/services/website/internal/example_project/de/main.lot
/services/website/internal/example_project/de/main.mcf
/services/website/internal/example_project/de/main.synctex.gz
/services/website/internal/example_project/de/main.toc
/storybook-static/
.loki/current
.loki/difference