.idea/

/bazel-*/
/bazel-*
/webclient/assets/dist/assets/AboutView.0420cf7d.js
/webclient/assets/dist/assets/index.671ba73f.css
/webclient/assets/dist/assets/index.dc6ab0ef.js
/webclient/assets/dist/assets/logo.90d53b62.svg
/webclient/assets/dist/assets/materialdesignicons-webfont.8bded8f4.woff
/webclient/assets/dist/assets/materialdesignicons-webfont.9bdfaf27.eot
/webclient/assets/dist/assets/materialdesignicons-webfont.c14484cf.ttf
/webclient/assets/dist/assets/materialdesignicons-webfont.da7fba3c.woff2
/webclient/assets/dist/assets/webfontloader.b777d690.js
/webclient/assets/dist/favicon.ico
/webclient/assets/dist/index.html
