.idea/
.ijwb/

/bazel-*/
/bazel-*

/Config.ini
/projects/
/.cache/
/artifacts/
/terraform/.terraform/
/terraform/plan.bin
/.repository_cache/

node_modules/
/go_build_github_com_TimoSto_ThesorTeX_services_app_cmd
dist/
/go_build_github_com_TimoSto_ThesorTeX_services_app_cmd_prod
/services/app/cmd/e2e/main

*.ini
