@mixin disableOverlayOnExpansionPanel {
  .v-expansion-panel-title--active {
    & .v-expansion-panel-title__overlay {
      opacity: 0 !important;
    }
  }
}

@mixin fullsizeCardContainer {
  .fullsize-card-container {
    width: 100%;
    padding: 16px;
  }
}
