
.v-app-bar{
  &.primary * {
    color: var(--v-primaryText-base)!important;
  }
  &.primary.theme--light .v-app-bar__nav-icon:disabled i,
  &.primary.theme--light .v-btn:disabled i{
    color: rgba(255, 255,255, 0.65)!important;
  }
  &.primary.theme--dark .v-app-bar__nav-icon:disabled i,
  &.primary.theme--dark .v-btn:disabled i{
    color: rgba(255, 255,255, 0.65)!important;
  }
}
