
@mixin vertical-flex($barHeight, $barHeightSmall, $breakpoint, $bottomHeight) {
  .vert-flex {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $barHeight);
    width: 100%;
    
    @media only screen and (max-width: $breakpoint) {
      height: calc(100vh - $barHeightSmall);
    }

    & .fix {
      height: $bottomHeight;
      width: 100%;
      text-align: center;
    }
    & .grow {
      flex: 1;
      width: 100%;
    }
  }
}
